<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fxsong.demo.crud.post.comment.CommentMapper">

	<select id="selectList" resultType="CamelMap">
		select
		  c.id
		  , c.content
		  , c.post_id
		  , c.member_id
		  , (select m.name from tb_member m where m.id = c.member_id) as member_name
		from
		  tb_post_comment c
		where
		  c.post_id = #{postId}
	</select>

</mapper>